* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    
    font-family: arial, sans-serif;
    font-size: 13px;

    color: rgba(0,0,0,0.75);
}

header {
    width: 100%;
  }

ul li {
    display: inline-block;
}

ul {
    list-style: none;
  }
  

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* 2nd */


  
 
  /* NAV BAR */
  .top-links {
    float: right;
    min-width:219px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: right;
    display: flex;
    flex-basis: auto;
flex-grow: 1;
flex-shrink: 1;
float: right;
justify-content: flex-end;
margin-left: 0px;
margin-right: 0px;

  }
  
  .top-links li {
    display: inline-block;
    padding: 8px;
    font-size: 13px;
    line-height: 24px;
    align-items: center;
color: rgb(34, 34, 34);




  }
  
  .google-app-link img {
 
background-position: -132px -38px;
background-position-x: -132px;
background-position-y: -38px;
background-size: 528px 68px;
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
box-sizing: border-box;
color: rgb(0, 0, 0);
cursor: pointer;
display: inline-block;
font-family: arial, sans-serif;
font-size: 13px;
height: 30px;
line-height: 15.6333px;
opacity: 0.85;
outline-color: rgb(0, 0, 0);
outline-style: none;
outline-width: 0px;
text-align: left;
text-decoration: none;
text-decoration-color: rgb(0, 0, 0);
text-decoration-line: none;
text-decoration-style: solid;
vertical-align: middle;
white-space: nowrap;
width: 30px;
  }

    .top-links button {
      background-attachment: scroll;
      background-clip: border-box;
      background-color: rgba(0, 0, 0, 0);
      background-image: -moz-linear-gradient(rgb(67, 135, 253), rgb(70, 131, 234));
      background-origin: padding-box;
      background-position: 0% 0%;
      background-position-x: 0%;
      background-position-y: 0%;
      background-repeat: repeat;
      background-size: auto;
      border-bottom-color: rgb(66, 133, 244);
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-style: solid;
      border-bottom-width: 1.11667px;
      border-image-outset: 0;
      border-image-repeat: stretch;
      border-image-slice: 100%;
      border-image-source: none;
      border-image-width: 1;
      border-left-color: rgb(66, 133, 244);
      border-left-style: solid;
      border-left-width: 1.11667px;
      border-right-color: rgb(66, 133, 244);
      border-right-style: solid;
      border-right-width: 1.11667px;
      border-top-color: rgb(66, 133, 244);
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      border-top-style: solid;
      border-top-width: 1.11667px;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 0px 0px;
      color: rgb(255, 255, 255);
      cursor: default;
      display: inline-block;
      font-family: arial, sans-serif;
      font-size: 13px;
      font-weight: 700;
      line-height: 28px;
      outline-color: rgb(255, 255, 255);
      outline-style: none;
      outline-width: 0px;
      padding-bottom: 0px;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 0px;
      text-align: left;
      text-decoration: none;
      text-decoration-color: rgb(255, 255, 255);
      text-decoration-line: none;
      text-decoration-style: solid;
      white-space: nowrap;
  }
  
  .toplink {
    color: #404040;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  li.top-link a:hover {
    text-decoration: underline;
  }
  
  button:hover { 
    box-shadow: 1px 1px 5px #999;
  }
  
  button {
    color: #fff;
  }
  
  /* GOOGLE AREA */
  .googlelogo {

   
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 115px;
    padding-bottom: 20px;
    height: 92px;
margin-top: 89px;
  }
  
  .googlelogo img {
    width: 272px;
    height: 92px; 
    color: rgb(34, 34, 34);
font-family: arial, sans-serif;
font-size: 13px;
padding-top: 109px;
clear: both;
  }

  .form {
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0.87);
    border-bottom-style: none;
    border-bottom-width: 0px;
    
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0.87);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgba(0, 0, 0, 0.87);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgba(0, 0, 0, 0.87);
    border-top-style: none;
    border-top-width: 0px;
    color: rgba(0, 0, 0, 0.87);
    
    font-family: arial, sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
   
    font-size: 16px;
    font-size-adjust: none;
    
    font-style: normal;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    
    font-weight: 400;
    height: 34px;
    line-height: 34px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0;
    outline-color: rgba(0, 0, 0, 0.87);
    outline-style: none;
    outline-width: 0px;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
  }
  
  #form-search { 
   /* width: 450px;
    line-height: 32px;
    padding: 20px 10px;
    color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    font-family: arial, sans-serif;
    font-size: 13px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 8px;
    padding-top: 5px; 
    */

    border-bottom-color: rgb(169, 169, 169);
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(169, 169, 169);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(169, 169, 169);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(169, 169, 169);
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(33, 33, 33, 0.2) 0px 0px 4px 0px;
color: rgba(0, 0, 0, 0.75);
font-family: arial, sans-serif;
font-size: 13px;
height: 39px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
width: 481px;
  }
  
  .form #form-search {
    padding: 0 8px;
  }
  
 
  
  /* .search_tabs first test {
    
    text-align: center;
    padding-top: 30px;
    margin-bottom: 200px;
    */


    .search_tabs {
      text-align: center;
      margin-top: 2em;
  
  }
  
  #tab_left {
      padding: 1em;
      background-color: #f2f2f2;
      border-radius: 5px;
      border: 1px solid transparent;
  }
  
  #tab_right {
      padding: 1em;
      background-color: #f2f2f2;
      margin-left: 0.5em;
      border-radius: 5px;
      border: 1px solid transparent;
  }
  
  #tab_left:hover, #tab_right:hover {
      border: 1px solid darkgrey;
  }
  
  footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 41px;
    justify-content: space-between;
    border-top: .5px solid #e6e6e6;
    background-color: #f2f2f2; 
   
     
}
footer a {
    font-family: arial,sans-serif;
    font-size: 13px;
    color: #5f6368;
    text-decoration-line: none; 
}
.footer-left {
    padding-left: 22px;
    padding-top: 11px;
}
.footer-left a {
    padding-inline-end: 22px;
}
.footer-left a:hover {
    cursor: pointer;
    text-decoration-line: underline;
}
.footer-right {
    padding-right: 22px;
    padding-top: 11px;
}
.footer-right a {
    padding-inline-end: 22px;
}
.footer-right a:hover {
    cursor: pointer;
    text-decoration-line: underline;


    



  

  
  
  
  
  /* MEDIA QUERIES */
  
  @media screen and (max-width: 400px) {
   
   li.nav-links a {
      display: none;
    }
    
   .googlelogo {
     padding: 0;
   }
    
   
  
    
   .footer_bar {
     bottom: 0;
   }
    
   .footer_bar {
     float: none;
     padding-bottom: 2px;
      
   }
    
   
  
  
  @media screen and (max-width: 565px) {
   
    li.nav-links a {
      display: none;
    }
    
    
   #google_logo {
     padding: 0;
   }
    
   .buttons {
     display: none;
   }
    
   #form-search {
     width: 80%;
  
   }
    
   footer {
    /*    bottom: 0;
       postion: absolute; */
       position:absolute;
       bottom:0;
       width:100%;
       height:60px;
     }
      
     footer ul {
       float: none;
       padding-bottom: 2px;
        
     }
     
